.board_tab_wrap.type1 .tap_main_btns {
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.board_tab_wrap.type1 .tap_main_btns .btn {
  flex: 1;
  padding: 20px 0;
  position: relative;
}

.board_tab_wrap.type1 .tap_main_btns .btn::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #222;
  transition: 0.25s;
}

.board_tab_wrap.type1 .tap_main_btns .btn.on::before {
  width: 90%;
}

.board_tab_wrap.type1 .tab_sub_btns {
  text-align: center;
}

.board_tab_wrap.type1 .tab_sub_btns .btn {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  padding: 22px 0;
}

.board_tab_wrap.type1 .tab_sub_btns .btn.on {
  font-weight: 700;
  color: #222;
}

.board_tab_wrap.type1 .tab_sub_btns .btn + .btn {
  margin-left: 30px;
}