.join_title{
    font-size: 2rem;
    font-weight: bold;
}
.join_step1_next_btn{
    background-color: var(--point-color);
    width: 7rem;
    height: 2.5rem;
    border-radius: 1rem;
    font-weight: 500;
    color :black;
}
.join_step1_pre_btn{
    background-color: gray;
    width: 7rem;
    height: 2.5rem;
    border-radius: 1rem;
    color : white
}