/* main_page */
.main_page {
  background-color: var(--bg-color);
}

/* main title */
.main_title {
  margin-bottom: 65px;
}
.main_title b {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 700;
  letter-spacing: -0.025em;

}
.main_title h3 {
  font-weight: 100;
  font-size: 64px;
  line-height: 1.25em;
  letter-spacing: -0.075em;
}

/* main visual */
.main_visual h2,
.main_visual p {
  white-space: pre-wrap;
} 

.main_visual .swiper {
  height: 67vh;
  border-radius: 16px;
}

.main_visual .swiper-slide {
  position: relative;
  cursor: pointer;
}

.main_visual .swiper-slide .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_visual .swiper-slide .txt_box {
  position: absolute;
  top: 40%;
  padding-left: 20px;
}

.main_visual .swiper-slide h2 {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.2em;
  color: #fff;
}

.main_visual .swiper-slide p {
  font-size: 16px;
  line-height: 1.625em;
  letter-spacing: -0.025em;
  font-weight: 500;
  color: #fff;
  margin-top: 40px;
}

/* recommend */
.main_recommend {
  padding: var(--basic-padding) 0;
}

/* category */
.main_category_wrap {
  padding: var(--large-padding) 0;
  background-color: #ddd;
}

.main_category_wrap .main_title {
  color: #fff;
}

.main_category .custom_inner{
  margin: auto;
  display: flex;
  width: clamp(1160px, 100%, 1920px)
}

.main_category .custom_inner > * {
  width: 50%;
}

.main_category .select_category {
  position: relative;
}

.main_category .select_category .select_box {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border: 1px solid #000;
}

.main_category .select_category .select_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main_category .select_category .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main_category .course_list {
  padding: 0 100px;
  border: 1px solid #000;
}

/* new course */
.new_course {
  padding: var(--basic-padding) 0;
}

/* main notiEvent */
.main_notiEvent .notice_btn {
  display: inline-block;
  margin-top: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33em;
  padding-right: 40px;
  background : url(../../public/img/icon-main-more-news.svg) no-repeat center right / 32px auto;
}

.main_notiEvent ul {
  display: flex;
  gap: 30px;
}

.main_notiEvent ul li {
  width: 25%;
  border: 1px solid #d8c9c9;
  padding: 40px;
  padding-bottom: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.main_notiEvent ul li h3 {
  display: -webkit-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main_notiEvent ul li p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.625em;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.6);
}

.main_notiEvent ul li span {
  display: block;
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.main_notiEvent ul li:hover {
  border-color: #aa9b90;
}