.mypage_modal_out{
    background-color: rgba(175, 175, 175, 0.623);
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}

.mypage_modal{
    background-color: white;
    width : 500px; 
    overflow: auto;
    padding: 2rem 2.1rem 2rem 2.1rem;
    border:  1px solid rgba(0, 0, 0, .14);
    /* border-radius : 0.6rem */
}

.mypage_head{
    display: flex;
    justify-content: right;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.mypage_logout{
    text-decoration: underline;
    font-size: 14px;
}

.mypage_close_btn{
    font-size: 1.5rem;
}

.mypage_member{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    gap: 0.5rem;
}

.mypage_name, .mybranch_title{
font-size: 2rem;
/* border: 1px solid red; */
}

.mypage_middle{
    font-size: 15px;
    color : rgba(0, 0, 0, .5);
}

.mypage_middle_top{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
}
.mypage_middle_top>div{
    /* border: 1px solid red; */
    width: 130px; 
    text-align: center;
}
.mypage_middle_top_subject{
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.mypage_middle_top_value{
    font-size: 17px; 
    font-weight: 800;
    color :black
}
.mypage_blocks{
display: flex;
gap: 0.7rem;
margin-top: 2rem;
margin-bottom :4rem;


}
.mypage_block{
    background: #f8f8f8;
    width: 33%;
    border-radius: 8px;
    text-align: center;
    height: 120px;
    padding: 0.5rem;
}
/* 왜안돼!!! */
.mypage_block_btns:hover .mypage_block_value::after{
    color: red;
content: '';
}
.mypage_img{
    display: inline;
    width: 40px;
    margin-bottom: 0.2rem;
}

.mypage_block_subject{
    font-size: 14px;
    margin-bottom: 0.2rem;
    /* border: 1px solid red; */
}
.mypage_block_value{
font-weight: 600;
font-size: 16px;
color : black

}

.mypage_bottom_left{
    display: flex;
}

.mypage_bottom{
    /* justify-content: space-between; */
   /* align-items: center; */
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .14)
}
.mypage_qna_btn{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.mypage_bottom_text{
    font-size: 16px;
    margin-left: 1rem;
}

.mypage_arrow{
    color : gray;
    font-size: 15px;

}

.member_change_btn{
    display: flex;
    align-items: center;
}

.mypage_name_arrow{
    margin-left: 1rem;
    text-align: center;
}

/* MyBranch */

.mybranch_head{
    display: flex;
justify-content: space-between;
margin-bottom: 1.5rem;}

.mypage_close_btn{
    width: 24px;    
}
.mybranch_title{
    text-align: center;
}
.mybranch_info{
    background-color:  #f8f8f8;;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 3rem;
    padding:  18px 16px 18px 16px;
}
.mybranch_info_key{
    font-size : 15px;
    font-weight: 600;
    margin-bottom : 0.8rem;
}

.mybranch_info_text{
font-size : 13px;
color :rgba(0, 0, 0, .6);
}

.branch_total{
    font-size: 15px;
}

.branch_subject_dropdown{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
    margin-bottom: 1.5rem;
}

.mybranch_drop_img{
width: 20px;
/* border: 1px solid blue; */
}

.branch_subject {
    font-weight: 600;
    /* margin-bottom: 1rem; */
}

.branchs{
    display: flex;
    margin-bottom: 3rem;
    gap : 0.8rem;

}

.mypage_branch_btn, .mypage_branch_btn_active{
    border-radius: 4px;
    width: 84px;
    height: 60px;
    padding: 13px 10px 13px 10px;
    text-align: center;
    align-items: center;
    }


.mypage_branch_btn{
background-color:  #f8f8f8;   
}

.mypage_branch_btn_active{
background-color:  var(--point-color);
}

.branch_modal_btn_div{
display: flex;
justify-content: right;
        }
.branchsave_btn{
width : 120px;
height: 50px;
padding: 13px 10px 13px 10px;
text-align: center;
align-items: center;
border-radius: 6px;
background-color: black;
color : white;
font-size: 15px;
font-weight: 500;


        }
    