.order .red{
  color: #ff5050;
}
/* tab */
.order .tab_list_box{
  width: 100%;
  padding: 3rem;
  background-color: #fff;
  text-align: center;
}
.order .tab_list_box h2{
  font-size: 28px;
  margin: 30px 0 20px;
}
.order .tab_list_box p{
  font-size: 15px;
  color: #666;
  line-height: 22px;
}
.order .tab_list {
  display: flex;
  justify-content: center;
  gap: 65px;
}
.order .tab_list > li{
  position: relative;
  text-align: center;
}
.order .tab_list > li:first-child:after{
  display: block;
  content: "";
  position: absolute;
  left: 70px;
  top: 20px;
  width: 76px;
  height: 1px;
  background: #dbdbdb;
}
.order .tab_list > li span{
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 100%;
  background-color: #e8e8e8;
  font-size: 18px;
  color: #666;
  margin: 0 auto;
}
.order .tab_list > li h4{
  margin-top: 10px;
  color: #666;
  font-weight: 400;
  font-size: 13px;
}
.order .tab_list > li.active span{
  background-color: var(--point-color);
  color: #000;
  font-weight: 600;
}
.order .tab_list > li.active h4{
  color:#000;
  font-weight: 600;
}
/* 구분선 */
.order .mid-line{
  display: block;
  position: relative;
  width: 100%;
  height: 10px;
  background: #f5eee9;
  margin-top: 80px;
}
/* title */
.order .htitle{
  margin: 100px 0 30px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -.6px;
  color: #000;
}
.order .order_line{
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 30px 40px;
}
.order .order_line.check{
  display: flex;
}
.order .order_line.step2{
  margin-bottom: 80px;
}
.order .order_line h3{
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -.4px;
  margin-bottom: 12px;
}
.order .order_line h3 span{
  margin-left: 10px;
  color: #009BFF;
}
.order .order_line h3 span.num{
  margin-left: 3px;
}
.order .order_line input{
  min-width: 400px;
  padding: 14px 10px;
  border: 1px solid #ddcdc5;
  border-radius: 5px;
  font-size: 15px;
  color: #222;
  text-align: right;
}

.order .order_line .submit_btn{
  padding: 12px 20px;
  text-align: center;
  border-radius: 4px;
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
  margin-left: 6px;
  vertical-align: middle;
}
.order .order_line p {
  margin-top: 6px;
  font-size: 12px;
  color: #666;
}

/* 총 결제금액 */
.order .all_pay{
  display: flex;
  gap: 80px;
  justify-content: space-between;
}
.order .all_pay > li{
  text-align: left;
}
.order .all_pay > li:last-child{
  text-align: right;
}
.order .all_pay > li h4{
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}
.order .all_pay > li h4.bold{
  font-weight: 600;
}
.order .all_pay > li span{
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -.4px;
}
.order .all_pay > li span .num{
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: -.6px;
}
.order .all_pay > li p{
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -.325px;
  color: #666;
  word-break: break-all;
  margin-top: 18px;
}
.order .all_pay > li:not(.cir){
  flex: 1 1 0;
}
.order .all_pay > li.cir{
  position: relative;
  display: block;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ddcdc5;
  border-radius: 100%;
}
.order .all_pay > li.cir .minus::before,
.order .all_pay > li.cir .plus::before,
.order .all_pay > li.cir .plus::after{
  content: '';
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  background-color: #000;
}
.order .all_pay > li.cir .minus::before{
  top: 19px;
  left: 13px;
}
.order .all_pay > li.cir .plus::before{
  top: 17px;
  left: 14px;
}
.order .all_pay > li.cir .plus::after{
  top: 22px;
  left: 14px;
}




.footer{
  position: relative;
  text-align: center;
  border: 1px solid red;
  height: 491px;
  background-color: #222;
  color: #fff;
}