body.popup {
  height: 100vh;
  overflow-y: hidden;
}

/* search popup */
.search_popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1160px;
  height: 100vh;
  display: none;
  z-index: 101;
}

.search_popup.on {
  display: block;
}

.search_popup .search {
  position: relative;
  padding: 60px 0 80px;
  background: var(--bg-color);
  z-index: 1;
}

.search_popup .search .full_inner {
  position: relative;
}

.search_popup .search .close_btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
}

.search_popup .search .tit {
  font-weight: 300;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: -0.075em;
  text-align: center;
}

.search_popup .form_search {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 60px;
  margin: auto;
  margin-top: 30px;
}

.search_popup .form_search input {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  outline: none;
  padding: 0 20px;
  font-size: 18px;
  border: 1px solid #aa9b90;
}

.search_popup .form_search .search_btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.search_popup .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* category popup */
.category_popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 101;
  display: none;
}

.category_popup.on {
  display: block;
}