* {
  box-sizing: border-box;
  font-family: inherit;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
}

img, svg {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}