.review_detail .detail_content {
  white-space: pre-wrap;
}

.review_detail .detail_top .stars {
  display: flex;
  gap: 2px;
  margin-top: 10px;
}

.review_detail .detail_course {
  margin-top: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

.review_detail .detail_course h3 {
  font-size: 24px;
  line-height: 1.33em;
  letter-spacing: -0.025em;
  font-weight: 700;
  margin-bottom: 18px;
}

.review_detail .detail_course .course {
  display: flex;
  align-items: center;
  gap: 20px;
}

.review_detail .detail_course .course .img_box {
  width: 90px;
  height: 90px;
  border-radius: 4px;
  overflow: hidden;
}

.review_detail .detail_course .course .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.review_detail .detail_course .course .txt_box {
  flex: 1;
}

.review_detail .detail_course .course .tags {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.review_detail .detail_course .course .tags span:not(:last-child) {
  position: relative;
  padding-right: 8px;
  margin-right: 8px;
}

.review_detail .detail_course .course .tags span:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #dfd9d5;
}